django>=5.1
psycopg2-binary
dj-database-url
django-modeltranslation
django-unfold>=0.67
django-tinymce>=5.0
pillow
python-decouple
whitenoise
django-htmx
gunicorn
cloudinary
django-cloudinary-storage
