{% load i18n %}
<section class="legal-notice" aria-label="{% trans 'Právní upozornění' %}">
  <div class="container">
    <p class="legal-notice__text">
      {% blocktrans trimmed %}
      Provozovatelem salonu Black Velvet Spa je společnost Prague relax s.r.o., IČO: 23481412, se sídlem: Chvalská 718/10, Hloubětín, 198 00 Praha 9. Black Velvet Spa je registrovaná ochranná známka. Všechny naše služby jsou poskytovány certifikovaným personálem a mají výhradně relaxační, regenerační a wellness charakter v souladu s právními předpisy ČR.
      {% endblocktrans %}
    </p>
  </div>
</section>
